extends layout

block content
  h1= title
  h2 Liste des terrains de tennis
  h3 horaires de la salle :
  p du lundi au samedi de 10h à 22h
  ul
    each court in courts
      li= `${court.Name} - ${court.Status} - ${court.UnavailableDays}`

