extends layout

block content
  p= message

    form(action="/login", method="post")
    label(for="username") Nom d'utilisateur:
    input(type="text", name="username")
    button(type="submit") Se connecter

  if (error)
    p.error= error
